/noe/FEELOMI/backend/.dockerignore

# Node
node_modules
npm-debug.log

# TypeScript
*.tsbuildinfo
*.js.map

# Git
.git
.github
.gitignore

# Docker
Dockerfile*
docker-compose*
.docker

# Tests
test
coverage
*.spec.ts
*.test.ts
jest.config.js

# CI/CD
.gitlab-ci.yml
.travis.yml

# Documentation
README.md
LICENSE
CHANGELOG.md

# Development
.env
.env.*
!.env.example
.editorconfig
.eslintrc
.eslintignore
.prettierrc
.vscode

# Logs
logs
*.log
npm-debug.log*